h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    font-family: 'Russo One', sans-serif;
    color: white;

}

a {
    color: grey;
    text-decoration: none;
    text-decoration: underline;

}

h2 {
    font-style: italic;
    font-size: 18px;
    text-align: center;
    font-family: 'Russo One', sans-serif;
    color: white;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    font-family: 'Russo One', sans-serif;
    color: white;
}

.gameInstructions {
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    
}

p {
    text-align: center;
    font-family: 'Inconsolata', monospace;
    color: white;
    
}

#losses-text {
    font-size: 18px;
}

#wins-text {
    font-size: 18px;
}

#score-text {
    font-size: 36px;
}

#total-score-text {
    font-size: 36px;
}




.crystalContainer {
    width: auto;
    height: auto;
    display: -webkit-box;
    padding: 80px;
}

.blueGem {
    text-align: center;
    width: 25%;
}

.redGem {
    text-align: center;
    width: 25%;
}

.yellowGem {
    text-align: center;
    width: 25%;
}

.purpleGem {
    text-align: center;
    width: 25%;
}

.authorCredit {
    position: absolute;
    bottom: 10px;
    width: 100%;
    clear:both;
    color: lightgrey;
    font-size: 14px;
    text-align: center;
}

/* Large Desktop Dimensions */
@media screen and (max-width: 980px) {
    .gameInstructions {
        width: 70%;
    }
  }
  
  /* Medium Desktop Dimensions */
  @media screen and (max-width: 768px) {
    .gameInstructions {
        width: 80%;
    }

  }
  
  /* Phone Screen Dimensions */
  @media screen and (max-width: 640px) {
    .gameInstructions {
        width: 100%;
    }
  }